.leftMenu {
  -webkit-box-shadow: 0 2px 4px rgb(220 220 220 / 50%);
  box-shadow: 0 2px 4px rgb(220 220 220 / 50%);
  background-color: #fff;
  width: 245px;
  min-width: 245px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 245px;
  flex: 0 1 224px;
  //position: fixed;
  top: 66px;
  left: 0;
  height: calc(100vh - 66px);
  z-index: 200;
  overflow-y: auto;

  .top {
    margin-top: 38px;

    .list {
      .item {
        display: flex;
        font-size: 15px;
        padding-left: 30px;
        font-weight: 600;
        transition: .3s;
        width: 80%;
        padding-top: 15px;
        padding-bottom: 15px;
        list-style: none;

        &:hover {
          color: $default-color;
          cursor: pointer;
        }
      }
    }

    .select-language {
      cursor: pointer;
      margin-top: 40px;
      outline: none;
      border: 1px solid rgba(225, 228, 232, 0.2);
      width: 80%;
      margin: auto;
      display: flex;
      padding-top: 5px;
      padding-bottom: 5px;
      background-color: rgba(225, 228, 232, 0.2);

      option {
        cursor: pointer;
      }
    }
  }

  .bottom {
    padding-left: 35px;
    margin-top: 20px;
    border-top: 1px solid #ededed;

    .contacts {
      margin-top: 20px;
      font-weight: 600;

      a {
        font-size: 15px;
        color: $default-color;
        font-weight: normal;

        &:hover {
          text-decoration: underline;
        }
      }

      .list {
        max-width: 180px;
        width: 100%;
        margin-top: 50px;

        .item {
          color: #282828;
          font-size: 14px;
          list-style: none;
        }
      }
    }
  }
}
